<h1>Listing meal_side_types</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_side_types.each do |meal_side_type| %>
      <tr>
        <td><%= link_to 'Show', meal_side_type %></td>
        <td><%= link_to 'Edit', edit_meal_side_type_path(meal_side_type) %></td>
        <td><%= link_to 'Destroy', meal_side_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal side type', new_meal_side_type_path %>
